.content {
    position: relative;
    z-index: 3;
  }
#bg{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .8;
  z-index: 0;
  background-repeat: no-repeat;
  background-image: url(../img/bg.webp);
  background-size: cover;
  background-position: 50%;
  -webkit-filter: blur(4px);
}

.swal2-image{
  object-fit: contain;
}

.swal2-title, .swal2-content{
  color: azure !important;
}
.swal2-popup {
  border-radius: 15px !important;
}

header h2 {
  font-family: 'Pacifico';
  font-size: 80px;
  text-align: center;
	margin-bottom: 30px;
}
header h4 {
  font-family: 'Pacifico';
  text-align: center;
}

@media only screen and (max-width: 932px) {
  header h2 {
    font-family: 'Pacifico';
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
  }
  header h4 {
    font-family: 'Pacifico';
    text-align: center;
    padding: 15px;
  }
}

.swal2-backdrop-show{
  background-size: 200px 100px !important;
}
.letter {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background-color: #FFCCCC;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  position: relative;
  z-index: 1;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
.heart-button {
  background-color: transparent;
  margin-left: 15px;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heart-icon {
  width: 100px;
  height: auto;
  fill: pink;
  margin-right: 7px;
}

@media only screen and (max-width: 390px) {
  .heart-button {
    height: auto;
    fill: pink;
  }

  .heart-icon {
    width: 85px;
    height: auto;
    fill: pink;
  }

  .heart-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    margin-top: 20px;
    margin-left: 40px;
    transform: translate(-50%, -50%);
  }

  .button-text {
    margin-left: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
    color: white;
    position: relative;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 430px) {
  .heart-button {
    height: auto;
    fill: pink;
  }

  .heart-icon {
    width: 85px;
    height: auto;
    fill: pink;
    margin: 20px 10px 20px 20px;
  }

  .heart-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    margin-top: 20px;
    margin-left: 15px;
    transform: translate(-50%, -50%);
  }

  .button-text {
    margin-left: -20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
    color: white;
    position: relative;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
  }
}

.button-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: white;
  position: relative;
  left: -90px;
  top: -5px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}
