.content {
    position: relative;
    z-index: 3;
  }
#bg{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .8;
  /* height: 100vh; */
  z-index: 0;
  background-repeat: no-repeat;
  background-image: url(../img/bg.webp);
  background-size: cover;
  background-position: 50%;
  -webkit-filter: blur(4px);
}

.swal2-image{
  object-fit: contain;
}

.swal2-title, .swal2-content{
  color: azure !important;
}
.swal2-popup {
  border-radius: 15px !important;
}

header h2 {
  font-family: 'Pacifico';
  font-size: 80px;
  text-align: center;
	margin-bottom: 30px;
}
header h4 {
  font-family: 'Pacifico';
  text-align: center;
}

@media only screen and (max-width: 500px) {
  header h2 {
    font-family: 'Pacifico';
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
  }
  header h4 {
    font-family: 'Pacifico';
    text-align: center;
    padding: 15px;
  }
  #no{
    position: absolute;
    display: inline-block;
    left: 7%; 
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.1s ease-out;
  }
  #yes{
    position: absolute;
    display: inline-block;
    left: 58%; 
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.3s ease-out;
  }
}

.swal2-backdrop-show{
  background-size: 200px 100px !important;
}
.letter {
  width: 70%;
  margin: 50px auto;
  padding: 20px;
  background-color: #FFCCCC;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  position: relative;
  z-index: 1;
  font-family: Arial, sans-serif; /* Sử dụng font chữ Arial hoặc font chữ không có Serif cho toàn bộ trang */
  font-size: 14px; /* Đặt kích thước chữ mặc định là 16px */
  line-height: 1.5; /* Đặt độ dài của mỗi dòng chữ */
}
.heart-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heart-icon {
  width: 100px; /* Đặt kích thước cho hình trái tim */
  height: auto;
  fill: pink; /* Màu hồng cho hình trái tim */
  margin-right: 5px;
}
.button-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Font chữ */
  font-size: 15px; /* Kích thước chữ cho text */
  color: white; /* Màu chữ */
  position: relative;
  left: -90px; /* Điều chỉnh vị trí của văn bản bên trong hình trái tim */
  top: -5px;
  font-weight: bold; /* Đậm chữ */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Hiệu ứng bóng chữ */
  letter-spacing: 1px; /* Khoảng cách giữa các chữ cái */
}